01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python [YOUR DJANGO PROJECT FOLDER NAME]/manage.py migrate --noinput"
  leader_only: true
02_createsu:
  command: "source /opt/python/run/venv/bin/activate && python [YOUR DJANGO PROJECT FOLDER NAME]/manage.py createsu"
  leader_only: true
03_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python [YOUR DJANGO PROJECT FOLDER NAME]/manage.py collectstatic --noinput"

option_settings:
"aws:elasticbeanstalk:application:environment":
  DJANGO_SETTINGS_MODULE: "[YOUR DJANGO PROJECT FOLDER NAME].settings"
  "PYTHONPATH": "/opt/python/current/app/[YOUR DJANGO PROJECT FOLDER NAME]:$PYTHONPATH"
"aws:elasticbeanstalk:container:python":
  WSGIPath: [YOUR DJANGO PROJECT FOLDER NAME]/wsgi.py
  NumProcesses: 3
  NumThreads: 20
"aws:elasticbeanstalk:container:python:staticfiles":
  "/static/": "www/static/"
